<h2>Welcome, Admin</h2>
<ul>
  <li><%= link_to "Manage Users", admin_users_path %></li>
  <li><%= link_to "Manage Matches", admin_matches_path %></li>
</ul>
<%= link_to "Logout", session_path, method: :delete %>
